%h2 Search for movies 
= form_tag movies_search_tmdb_path, :method => :post do
   = label :movie, :title, 'Search for movie titles containing:'
   = text_field :movies, 'title', :id => 'search_box2'
        
        
   check_box_tag, "Add to", 1 , false
= submit_tag 'search movie'      
 